<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trabalho Banco</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/base.css')}}>

</head>
<body>

	<header>
		<h1>BDmusic</h1>
		<nav>
			<ul class="menu">
				<li><a href="" class="op_menu" id="listar">Listar músicas</a></li>
				<li><a href="" class="op_menu" id="add">Adicionar música</a></li>
			</ul>
		</nav>
	</header>

	<div class="playlist"></div>
	<main>
		<div class="container">
			<input type="text">

		</div>
		<p>Aperte ENTER após digitar o nome da música</p>

	</main>

	<footer></footer>


	<script src={{ url_for('static', filename='js/base.js')}}></script>

</body>
</html>