body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--color-first);
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-box);
  text-align: center;
}

a {
  color: var(--color-verde);
  text-decoration: none;
  border-bottom: x solid var(--color-first) 
}