<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Deezefy registro</title>
    <link rel="icon" type="img/png" href={{url_for('static', filename='imgs/i_teste.png')}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/vars.css')}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/cadastro.css')}}>

</head>
<body>
    <form class="box" action={{url_for('cadastro_artista')}} method="POST">
		{{ formU.csrf_token }}
		{{ formA.csrf_token }}
		<h1>Inscreve-se</h1>
		<div>
	        {{ formA.nome(placeholder='Nome', id='nome') }}
		</div>
		<div>
	        {{ formU.email(placeholder='Email', id='email') }}
		</div>
		
		<div>
	       	{{ formU.senha(placeholder='password', id='senha') }}
		</div>
		<div>
	       {{ formU.confirm(placeholder='Confirmar password', id='confirmarsenha') }}
		<div>
			{{ formA.biografia(placeholder='Biografia', id='biografia') }}
		</div>
		<div>
			{{ formA.ano_form(placeholder='Ano de formação', id='ano_form')}}
		</div>
     	<input type="submit" name="" value="Inscreve-se">
    </form>
</body>
</html>