<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Deezefy Escolha</title>
    <link rel="icon" type="img/png" href={{url_for('static', filename='imgs/i_teste.png')}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/vars.css')}}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/escolha.css')}}>


</head>
<body>
    <div class="box">
    	<div>	
    		<a href="/cadastro_ouvinte">Criar como ouvinte</a><br>
    	</div>
    	<div>
    		<a href="/cadastro_artista">Criar como artista</a>	
    	</div>
    </div>
</body>
</html>