<html>
    <head>
        <title>Musicas</title>
    </head>
    <body>
        <h1>Musicas</h1>
       <div class = "box_mus"> 
            <div class = "search">
                <input type="search">
                <input type="submit" value="pesquisar">
            </div>
            <div class = "cabeca_mus">
                    <label>id</label>
                    <label>nome</label>
                    <label>tempo</label>
            </div>

            <div class="list_music">
                <ul>
                    <li>Algo</li>
                </ul>
            </div>
        </div>
    </body>
</html>