<html lang = "pt-BR">

    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>

    <body>
        <h1>Database Music</h1>
        
        <div class = "janela">

            <form action="" method = "POST">
                {{ formL.csrf_token }}
                <div class = "dados">
                    {{formL.usuario(placeholder="Usuário")}}
                    <label>Usuário</label> 
                </div>
                <div class = "dados">
                    {{formL.senha()}}
                    <label>Senha</label>
                </div> 
                
                <input type="submit" value="Entrar">
                <p>Criar conta</p>  

            </form>

        </div>
    </body>




</html>